
.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
.swiperjs{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}  
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content > img{
    border-radius: 10rem !important;
}
span{
    margin-top: 1rem;
}
a{
    text-decoration: none;
    color: #000;
   
}

.swiperjs{
    margin-top: 1rem !important;
}