.mainExplore{
    display: flex;
    width: 100%;
    margin-top: 2rem;
}
.mt{
    margin-top: -1rem;
}

.sidebar{
    /* width: 100%; */
    height: 38rem;
    background-image: url('../../assets/Images/Banner-3.58ccb351.jpg');
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 80%;
    position: absolute;
    align-items: center;
    padding: 1rem;
}
.fotter{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    align-items: center;
    position: absolute;
    margin-top: -10rem;
    padding: 1rem;
}
.cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 40px;

}
.mainCards{
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-column-gap: 70px;
    grid-row-gap: 50px;

}

.btn1{


    color: #000;
    background-color: rgb(82, 80, 80);
}

.btn1:hover{
    color:#fff;
    background-color: #dc3545;
}

.btn2{
    color:#fff;
    background-color: #dc3545;
}

.commonBtn{
    width: 13rem;
}



@media only screen and (max-width: 1350px) {
    /* .mainCards{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    } */
  }

  @media only screen and (max-width: 750px) {
 .sidebar{
    display: none;
 }
  }